@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.BlogPosts>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
@{
	var selection = Umbraco.Content(Guid.Parse("e7a0a44f-7600-4e19-9d7e-8c40c6d7b0ae"))
    .Children()
    .Where(x => x.IsVisible());
}
    <div class="grid-container ">
	@foreach (var item in selection)
	{
	
	        var image = item.Value<IPublishedContent>("blogTeaserImage"); 	
			<a class="link-dark " href="@item.Url()">
			<div >
			    <div><h1>@item.Value("blogTeaserHeadline")</h1></div>
			    <img class="blogImageTeaser" src="@image.Url()">
			</div>
			
		
			</a>
	
	}
    </div>

