.nav-bg {
    background-color: #6212b8;
}

nav .navbar-nav .nav-link {
    color: white ;
}
        
a {

    text-decoration: none ; /* no underline */
}

.welcome-back{
    padding-top: 8px;
    margin-bottom: 0;
    color: white;
    margin-left: 32px;
    margin-right: 16px;
}

.btn_logout{
    color:white;
    
}


.language_dropdown{
    background-color:transparent;
    color:white;
    
}

.language_dropdown:hover{
    color:white;
}

