.nav-bg {
    background-color: #6212b8;
}

nav .navbar-nav .nav-link {
    color: white ;
}
        
a {

    text-decoration: none ; /* no underline */
}

.welcome-back{
    padding-top: 8px;
    margin-bottom: 0;
    color: white;
    margin-left: 32px;
    margin-right: 16px;
}

.btn_logout{
    color:white;
    
}


.language_dropdown{
    background-color:transparent;
    color:white;
    
}



.language_dropdown:hover{
    color:white;
}

.blogImageTeaser{
    width: 500px;
    height: 300px;
}

.grid-container {

    display: grid;  
    grid-column-gap: 75px;
    grid-row-gap: 75px;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    padding: 25px 25px;
  }
  
  
  .miniImageTeaser{
    width: 300px;
    height: 250px;
}



.headline{
    
    color: black;
    text-decoration: none; /* no underline */ 

}

.review-Image{

    height: 350px;
    width: 600px;
    margin-bottom: 32px;
}

.review-Text{
    margin-top: 16px;
    width: 80%;
    word-break: break-all;
}

.more-reviews ul{
    display: flex;
    padding: 0;
    margin-top: 16px;

}

.more-reviews li{
    list-style: none;
    margin-right: 48px;
}

.more-reviews img{
    width: 350px;
    height:230px;
}

.fa-star{
    font-size: 2em;
}

.homeImageTeaser{
width:250px;
height: 150px;
    
}


.login_btn{
width: 100%;
margin-top: 16px;
margin-bottom: 16px;
border-radius: 32px;
background-color: #3c3c52;
color: white;
height: 48px;
}

.user_input{
  border-radius: 32px;
height: 32px;
width: 300px;
margin-top: 4px;  
    
}

input[type = password]{
border-radius: 32px;
height: 32px;
width: 300px;
margin-top: 4px;
}

input:focus{
    outline: 2px solid gray;
}